# Domain
# This would be set to the production domain with an env var on deployment
DOMAIN=localhost

# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="TED: The Encyclopedia of Domains"
STACK_NAME=ted-web

# Backend
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173,http://localhost.tiangolo.com"
SECRET_KEY=aMCDq7Bv_uGEUmODxkuBuAwkW4fSsCm22mUO_9S6Ny8
FIRST_SUPERUSER=ian@sillit.com
FIRST_SUPERUSER_PASSWORD=HjhUkHAXV1oMlLd87fcLuVn4DSiTZbL4UZj53VA70Pw
USERS_OPEN_REGISTRATION=False

# Emails
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=ian@sillit.com
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Dd2A5wNf91oXvZc3ZBT05IhvnZXseMznNOGPBus0BGs

SENTRY_DSN=

# Configure these with your own Docker registry images
DOCKER_IMAGE_BACKEND=backend
DOCKER_IMAGE_FRONTEND=frontend
